@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
  color: #234cad;
}

section {
  margin-top: 150px;
}


/*component*/

.btn-outline-auth {
  border: 2px solid #234cad;
  border-radius: 25px;
  background-color: #ffff;
  padding: 10px 44px !important;
  font-size: 18px;
  font-weight: 700;
}

.btn-auth {
  border-radius: 25px;
  background-color: #f2f6ff;
  padding: 8px 33px;
  font-size: 18px;
  font-weight: 700;
  border: none;
}

.btn-outline-hero {
  border: 2px solid #234cad;
  border-radius: 35px;
  background-color: transparent;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: 700;
}

.btn-hero {
  border: none;
  border-radius: 35px;
  background-color: #ffff;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: 700;
}

/*navbar*/
nav .navbar-nav a {
  margin: 25px 20px 20px;
  font-weight: 600;
  font-size: 18px;
}

/*jumbotron*/
.jumbotron .hero {
  background-color: #f2f6ff;
  border-radius: 60px;
}

.jumbotron .content {
  padding: 0 100px 100px;
}

.jumbotron .content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.jumbotron .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 992px) {
  .jumbotron .content {
    padding: 100px;
  }
}

@media (max-width: 460px) {
  .jumbotron .content h1 {
    font-size: 38px;
  }
}

@media (max-width: 400px) {
  .jumbotron .content h1 {
    font-size: 34px;
  }
}

/* Product-features1 & Product-feature2 */
.product-features1 .content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.product-features1 .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.product-features1 .card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.product-features1 h3{
  padding-top: 15px;
  padding-left: 25px;
}

.product-features2 .content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.product-features2 .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.product-features2 .hero {
  background-color: #f2f6ff;
  border-radius: 60px;
}

.product-features2 .content {
  padding: 0 100px 100px;
}

.spencers {
  height: 21px;
  left: 0%;
  right: 34.83%;
  top: calc(50% - 21px/2 - 12px);
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.time {
  height: 13px;
  left: 83.48%;
  right: 0%;
  top: calc(50% - 13px/2 - 16px);

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  margin-left: 80px;
}

.time-ami {
  height: 13px;
  left: 83.48%;
  right: 0%;
  top: calc(50% - 13px/2 - 16px);

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  margin-left: 100px;
}

.gb{
  height: 21px;
  left: 0%;
  right: 49.38%;
  top: calc(50% - 21px/2 + 12px);

  font-family: 'Basic';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

.date {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px/2 + 12px);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

.seen {
  height: 21px;
  left: 0%;
  right: 0%;
  top: calc(50% - 21px/2 + 12px);
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
}

.background {
  box-sizing: border-box;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #F5F5F5;
  border: 5px solid #F5F5F5;
  border-radius: 50%;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .product-features1 .content {
    padding: 100px;
  }
}

@media (max-width: 460px) {
  .product-features1 .content h1 {
    font-size: 38px;
  }
}

@media (max-width: 400px) {
  .product-features1 .content h1 {
    font-size: 34px;
  }
}


/*Contact dan Footer*/
.contact .hero {
  background-color: #f2f6ff;
  border-radius: 60px;
}

.contact .content h1 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}

.contact .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.inputBox {
  text-align: center;
  padding-bottom: 80px;
  overflow: hidden;
}

.inputBox input[type=text] {
  background: #FFFFFF;
  border-radius: 17.5px;
  border: none;
  padding: 10px;
  text-align: center;
  width: 40%;
}

input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #234CAD;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.inputBox button {
  float: center;
  width: 5%;
  padding: 10px;
  background: #234CAD;
  color: white;
  font-size: 17px;
  border-radius: 12.5px;
  border: none;
  cursor: pointer
}

.box-container {
  margin-top: 120px;
  margin-left: 85px;
  margin-bottom: 30px;
}

.box-container .row h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 49px;
}

.box-container .row p {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}