/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

.hover-light:hover {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.jumbotron-box {
  width: 150%;
  height: 100%;
  border-radius: 5%;
}

.lingkaran {
  border: 3px solid #234CAD;
  border-radius: 40%;
  padding: 8px; 
}

.title {
  color: #234CAD;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

.sub-title {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #234CAD;
}

.daily {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #234CAD;
}

.date {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #234CAD;

}

.card.mb-3 {
  margin-top: 25px;
}

.background {
  background: #F5F5F5;
  border: 5px solid #F5F5F5;
  border-radius: 35%;
  margin-bottom: 15px;
}

.price {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #234CAD;
}

.sub-price{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  color: #234CAD;
}

.btn-price {
  border: 2px solid #234cad;
  border-radius: 35px;
  background-color: transparent;
  padding: 10px 50px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #234CAD;
}