/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }

  .hover-light:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
  }

  .lingkaran {
    border: 3px solid #234CAD;
    border-radius: 40%;
    padding: 8px; 
  }

  .text {
    color: #234CAD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  .standup {
    height: 21px;
    left: 0%;
    right: 11.02%;
    top: calc(50% - 21px/2 - 12px);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #234CAD;
  }

  .date {
    height: 21px;
    left: 0%;
    right: 0%;
    top: calc(50% - 21px/2 + 12px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    /* identical to box height, or 175% */


    color: #234CAD;

  }