/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }

  .hover-light:hover {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
  }

  .lingkaran {
    border: 3px solid #007bff;
    border-radius: 1000px;
  }